html{
    height: 100%;
    background: radial-gradient(circle, #fff, #ccc);
}

#container{
    height: 450px;
    width: 550px;
   // border:  1px solid;
    margin: 100px auto;
    background-color: #9DD2EA;
    position: relative;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 0px 0px #009de4;
    /*        box-shadow: [horizontal offset] [vertical offset] [blur radius] [optional spread radius] [color]*/
}
#score{
    position: absolute;
    left: 470px;
    background-color: #F1FF92;
    padding: 0px 11px;
    box-shadow: 0px 4px #9da853;
}
#correct{
    position: absolute;
    left: 260px;
    color: white;
    background-color: #42e252;
    padding: 11px;
    display: none;
}
#wrong{
    position: absolute;
    left: 260px;
    color: white;
    background-color: #de401a;
    padding: 11px;
    display: none;
}
#questionBox{
    height: 150px;
    width: 450px;
    border: 1px solid;
    margin: 60px auto 10px auto;
    background-color: #9DA0EA;
    box-shadow: 0px 4px #535aa8;
    text-align: center;
    font-size: 100px;
    font-family: cursive,sans-serif;
}
#comment{
    height: 50px;
    width: 450px;
    //border: 1px solid;
    margin: 10px auto 10px auto;
    text-align: center;
    line-height: 45px;
    background-color: #B481D9;
    box-shadow: 0px 4px #8153a8;
}
#choices{
    height: 100px;
    width: 450px;
    margin: 5px auto;
    //border: 1px solid;
}
.choiceBox{
    background-color: white;
    height: 85px;
    width: 85px;
    //border: 1px solid;
    float: left;
    margin-right: 36px;
    border-radius: 3px;
    box-shadow: 0px 4px rgba(0,0,0,0.2);
    cursor: pointer;
    text-align: center;
    line-height: 85px;  
    position: relative;
    transition: all 0.2s;
}
#box4{
    margin-right: 0px;
}
.choiceBox:hover, #start:hover{
    background-color: #9C89F6;
    color: white;
    box-shadow: 0px 4px #6b54d3;
}
.choiceBox:active, #start:active{
    top: 4px;
    box-shadow: 0px 4px #6b54d3;
}
#start{
    width: 100px;
    height: 40px;
    background-color: rgba(255,255,255, 0.5);
    //border: 1px solid;
    margin: 0px auto;
    border-radius: 3px;
    box-shadow: 0px 4px rgba(0,0,0,0.2);
    cursor: pointer;
    text-align: center;
    line-height: 40px;
    position: relative;
    transition: all 0.2s;
}
#timeremaining{
    height: 40px;
    width: 180px;
    position: absolute;
    left: 370px;
    bottom: 37px;
    background-color: rgba(181, 235, 36, 0.78);
    box-shadow: 0px 4px rgba(0,0,0,0.2);
    border-radius: 3px;
     text-align: center;
    line-height: 40px;
   /* visibility: hidden;*/
    display: none
}
#gameover{
    height: 200px;
    width: 500px;
    background: linear-gradient(#F3CA68,#F3706C);
    color: white;
    font-size: 2.5em;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    top: 110px;
    left: 45px;
    z-index: 1;
    display: none;
}